################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleServiceBus/v15
/DS.SimpleServiceBus/bin
/DS.SimpleServiceBus/obj
/DS.SimpleServiceBus.ConsoleApp/bin
/DS.SimpleServiceBus.ConsoleApp/obj
/DS.SimpleServiceBus.Tests/bin
/DS.SimpleServiceBus.Tests/obj
/DS.SimpleServiceBus.RabbitMq/bin/Release/netstandard2.0
/DS.SimpleServiceBus.RabbitMq/obj
/DS.SimpleServiceBus.EventHubs/bin/Release/netstandard2.0
/DS.SimpleServiceBus.EventHubs/obj
/DS.SimpleServiceBus.EventHubs/bin/Release
*.nupkg
/DS.SimpleServiceBus.RabbitMq/bin/Debug/netstandard2.0
/DS.SimpleServiceBus.EventHubs/bin/Debug/netstandard2.0
/DS.SimpleServiceBus.InMemory/bin/Debug/netstandard2.0
/DS.SimpleServiceBus.InMemory/obj
